* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0,0.1);
}

/* ---------------第二部分--------------------- */
.twoGame {
    width: 100%;
    height: 56vh;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.1);
}

.card {
        width: 50vw;
        height: 50vh;
        margin: 0 50px;
        margin-top: 32vh;
        transform: translateY(-50%);
        position: relative;
}

.card img {
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.5s;
}

.font {
    display: none;
}

.feng {
    height: 100%;
    z-index: 1;
}

.card:hover .feng {
    transform: perspective(500px) rotateX(25deg);
    box-shadow: 0 35px 35px -8px rgba(0, 0, 0, 0.75);
}
.people {
    height: 100%;
    z-index: 2;
    opacity: 0;
}
.card:hover .people {
    opacity: 1;
    transform: perspective(500px) translate3d(0,-50px,50px);
}
.font {
    z-index: 3;
    bottom: 0;
}
.card:hover .font {
    display: block;
    transform: perspective(500px) translate3d(0,-25px,50px);
}

.contentKuo {
    display: flex;
    background-color: rgba(0, 0, 0,0.1);
}
.contentTwo{
    margin: auto;
    color: rgba(0, 0, 0,0.1);
    font-size: 70px;
    font-weight:bolder;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentTwo::before{
    content:"选择你的英雄";
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid rgba(0, 0, 0,0.1);
    animation: animateTwo 8s linear infinite;
    filter:drop-shadow(0 0 50px  rgba(0, 0, 0,0.1))
}
@keyframes animateTwo {
    0%{
        width: 0;
    }
    100%{
       width: 100%;
    }
}
/* ---------------第一部分--------------------- */
.content {
    color: #FFF;
    display: flex;
    font-size: 60px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: rgba(0, 0, 0,0.1);
}
.content .txt{
    animation: animateOne ease 0.5s infinite alternate;
    animation-delay: calc(var(--i) / 10 * 1s);
}
@keyframes animateOne{
    100%{
        color: #0e100f;
        filter: drop-shadow(0 0 10px #91c5b0);
        transform: translateY(50px);
    }
}

.oneGame {
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0,0.1);
}

.box{
    display: grid;
    grid-template-columns: repeat(7,40px);
    grid-template-rows: repeat(7,40px);
    grid-gap: 1.5rem;
}

.item{
    background: black;
    border-radius: 5px;
    border-left: solid 10px white;
    position: relative;
}
.item::after,.item::before{
    content:'';
    width: 5px;
    height: 5px;
    background: rgb(221, 26, 26);
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0;
}
.item::after{
    top:25px;
}
.item::before{
  bottom: 25px;
}

.div {
    background-color: rgba(0, 0, 0,0.1);
    display: flex;
}

#button {
    margin: auto;
    margin-top: 10px;
    height: 3vh;
    width: 5vw;
}

/* -------------卡牌游戏问题描述------------------------- */
.txtDetail {
    width: 100%;
    height: 20vh;
    position: relative;
    background-color: rgba(0, 0, 0,0.1);
}
.detail {
    display: none;
    width: 50vw;
    height: 18vh;
    position: absolute;
    left:0; 
    right:0; 
    top:0; 
    bottom:0;
    margin: auto;
    background-color: rgba(0, 0, 0,0.1);
    border-radius: 2%;
}
h1 {
    margin: 0 10px;
}

