* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background: #ed863d;
} */

body {
    margin: 0;
}

/* h1 {
    text-align: center;
}

h1:nth-of-type(1) {
    background: #ed863d;
   
} */

.content {
    /* margin: auto; */
    color: #FFF;
    display: flex;
    font-size: 60px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.content .txt{
    animation: animate ease 0.5s infinite alternate;
    animation-delay: calc(var(--i) / 10 * 1s);
}
@keyframes animate{
    100%{
        color: #0e100f;
        filter: drop-shadow(0 0 10px #91c5b0);
        transform: translateY(50px);
    }
}

.oneGame {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed863d;
}
.twoGame {
    width: 100%;
    height: 50vh;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.card {
        width: 60%;
        height: 90%;
        margin: 0 50px;
        margin-top: 10em;
        transform: translateY(-50%);
        position: relative;
}

.card img {
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.5s;
}

.feng {
    height: 100%;
    z-index: 1;
}

.card:hover .feng {
    transform: perspective(500px) rotateX(25deg);
    box-shadow: 0 35px 35px -8px rgba(0, 0, 0, 0.75);
}
.people {
    height: 100%;
    z-index: 2;
    opacity: 0;
}
.card:hover .people {
    opacity: 1;
    transform: perspective(500px) translate3d(0,-50px,50px);
}
.font {
    z-index: 3;
    bottom: 0;
}
.card:hover .font {
    transform: perspective(500px) translate3d(0,-25px,50px);
}
/*
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed863d;
} */
.box{
    display: grid;
    grid-template-columns: repeat(7,40px);
    grid-template-rows: repeat(7,40px);
    grid-gap: 1.5rem;
}
.item{
    background: black;
    border-radius: 5px;
    border-left: solid 10px white;
    position: relative;
}
.item::after,.item::before{
    content:'';
    width: 5px;
    height: 5px;
    background: rgb(221, 26, 26);
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0;
}
.item::after{
    top:25px;
}
.item::before{
  bottom: 25px;
}