body {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0;
}

#big {
    width: 100%;
    height: auto;
}

#up {
    width: 100%;
    height: 970px;

    background: url("../IMG/img_girl.png") no-repeat;
}

#top {
    width: 100%;
    height: 4%;
    background-color:rgba(0,0,0,0.2);
}

#center {
    width: 100%;
    height: 95%;
    position: relative;
}

#down {
    width: 100%;
    min-height: 970px;
    height: auto;
    
    position: relative;
}

#right {
    position: absolute;
    top: 5%;
    left: 75%;
    width: 20%;
    height: 50%;
    background-color: #ffffff94;
    border-radius: 4%;
    box-shadow: 0px 0px 10px 4px rgb(0,0,0,0.2);
    z-index: +1;
}

#canvas {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    min-height: 40%;
    background-color: blue;
    border-radius: 4%;
    z-index: +1;

}

li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 3%;
    color: #fff;
    margin-left: 4%;
    font-family: 黑体;
    margin-top:0.5% ;
}

li:hover {
    color: black;
}

h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    font-size: 300%;
}

span {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%,-50%);
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

#right #head_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../IMG/dog.png");
    background-size: cover;
    margin-left: 28%;
    margin-top: 8%;
}

#right i {
    margin-left: 20%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgb(0,0,0,0.2);
    margin: 5% 0 5% 0;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.one {
    font-family: 黑体;
    margin-left: 42%;
}

.two {
    font-family: 黑体;
    margin-left: 3%;
}
