body {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0;
}

#big {
    width: 100%;
    height: auto;
}

#up {
    width: 100%;
    height: 970px;

    background: url("../IMG/img_girl.png") no-repeat;
}

#top {
    width: 100%;
    height: 4%;
    background-color:rgba(0,0,0,0.2);
}

#center {
    width: 100%;
    height: 95%;
    position: relative;
}

#down {
    width: 100%;
    height: 970px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

#right {
    position: absolute;
    top: 5%;
    left: 75%;
    width: 17%;
    height: 50%;
    background-color: #ffffff94;
    border-radius: 4%;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.2);
}

#canvas {
    /* position: absolute; */
    width: 100%;
    height: 970px;
    background-color: rgba(0,0,0,0.1);
}

.text {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    min-height: 40%;
    background-color: blue;
    border-radius: 4%;
}

#text_two {
    top: 47%;
}

.add {
    width: 100%;
    min-height: 600px;
    position: relative;
    background: linear-gradient(to right, #FEE6E2, #BAB6D4 , #B5A6BE, #B4A4B8);
    background-size: 300% 300%;
    animation: changeColor 5s cubic-bezier(0.1,0.5,0.3,0.6) infinite;
}

@keyframes changeColor {
    0% {background-position: 0% 0%;}
    50% {background-position: 50% 0%;}
    100% {background-position: 100% 0%;}
}

.swiper {
    position: absolute;
    width: 1000px;
    height: 600px;
    top:50%;
}

.swiper .swiper-button-next{
    color: rgba(255,255,255,0.2);

}

.swiper .swiper-button-prev {
color: rgba(255,255,255,0.2);
}


li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 3%;
    color: #fff;
    margin-left: 4%;
    font-family: 黑体;
    margin-top:0.5% ;
}

li:hover {
    color: black;
}

#hello{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    font-size: 300%;
}

span {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 23%;
    left: 39%;
    transform: translate(-42%,-50%);
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    -webkit-animation: way 3s linear infinite;
}

@keyframes way {
    0%{
        transform: scale(1);
        opacity: 0.5;  
    }
    50%{
        transform: scale(1.5);  
        opacity: 0;   /*圆形放大的同时，透明度逐渐减小为0*/
    }
    100%{
        transform: scale(1);
        opacity: 0.5;
    }
}

span:nth-child(2){
    -webkit-animation-delay: 1ms;
}
span:nth-child(3){
    -webkit-animation-delay: 1.5ms;
}
span:nth-child(4){
    -webkit-animation-delay: 2ms;
}

#right #head_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../IMG/dog.png");
    background-size: cover;
    margin-left: 27%;
    margin-top: 8%;
}

#right i {
    margin-left: 20%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgb(0,0,0,0.2);
    margin: 5% 0 5% 0;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.one {
    font-family: 黑体;
    margin-left: 41%;
}

.two {
    font-family: 黑体;
    margin-left: 3%;
}

#addTwo {
    width: 100%;
    min-height: 600px;
    position: relative;
}

#v1 {
    position: absolute;
    left: 500px;
}

#v2 {
    position: absolute;
    left: 800px;
}

#v3 {
    position: absolute;
    left: 1100px;
}

#addTwo div img {
    position: absolute;
    top: 46px;
}

#addTwo :nth-child(2){ 
    left: 692px;
}

#addTwo :nth-child(4){ 
    left: 982px;
}

.addTextOne {
    margin-top: 60px;
    text-align: center;
}

#addTwo div {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 200px;
}

